@CHARSET "UTF-8";
#items_select ul
{
	list-style: none;
}

#items_select ul > li
{
	display: block;
	width: 75%;
	background-color: #fbb15a;
	margin: 5px;
	padding: 0 2px 0 5px;
	border: 1px dotted #000000;
}

#col3 h3
{

}
